/*Layout*/

.form-control {
  width: 300px;
}

#new-moviequote {
  margin-bottom: 40px;
}

.navbar {
  height: 115px;
}

.navbar-header {
  color: #333;
}
.navbar-brand {
  padding-top:10px;
  padding-top: 10px;
}

.page-header {
  margin-top: 110px;
}

p {
  margin-bottom: 10px;
}

.button-users {
  margin-right: 10px;
  margin-bottom: 10px;
}

.score-users {
  margin-bottom: 5px;
}


/*Appearance*/

.glyphicon {
  font-size:1.5em;
  letter-spacing: 1em;
}
.page-header small {
  color: #CCC;
}

h1 {
   font-family: 'Ultra', serif;
}

/*Lettering.js settings*/
.fancy_title {
  margin-left: 3px; }

.fancy_title span {
  display: inline-block;
  position: relative;
  letter-spacing: 0;
  -webkit-transition: all 0.2s ease-out;
}

.fancy_title span:hover {
  top:4px;
}
/*end of Lettering.js settings*/

/*skrollr settings*/
  html, body {
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    background-attachment:fixed;
    color:#fff;
    font-family:sans-serif;
  }
  .hidden {display:none;}

  /*end of skrollr*/
